In [2]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()
spark

In [6]:
df_pyspark=spark.read.csv('data\\teste_1.csv', header=True, inferSchema=True)
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [7]:
df_pyspark.filter('Salary >= 20000').show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
+---------+---+----------+------+

In [8]:
df_pyspark.filter('Salary >= 20000').select(['Name', 'Experience', 'age']).show()

+---------+----------+---+
|     Name|Experience|age|
+---------+----------+---+
|    Krish|        10| 31|
|Sudhanshu|         8| 30|
|    Sunny|         4| 29|
|     Paul|         3| 24|
+---------+----------+---+

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

In [10]:
# Pode aplicar logica dentro do filter tbm entre (condicao X) & OU | (condicao x)
df_pyspark.filter((df_pyspark['Salary']<=20000) & 
                  (df_pyspark['Salary']>=15000)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [12]:
'''Operador ~ é como o NOT ele nega a operacao, entao no caso ele traz todos os salarios que sao Maiores ou Iguais a 20k
, porque originalmente a logica traz isso, porém o operador NEGA a logica
'''
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+