In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Pyspark_Tutorial FreeCode Camp').getOrCreate()
spark

In [4]:
df_pyspark=spark.read.option('header','true').csv('data\\teste_1.csv',inferSchema=True)
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [5]:
df_pyspark=spark.read.csv('data\\teste_1.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [59]:
df_pyspark.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  null|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  null| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [60]:
df_pyspark.select("Name", "age", "Experience").show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
|     Paul| 24|         3|
|   Harsha| 21|         1|
|  Shubham| 23|         2|
+---------+---+----------+

> _Ambos os jeitos funcionam, porém guardar em mente o filter estabelece a condicao, ha sempre de colocar o select, quando se deseja selecionar algumas colunas, tanto faz a ordem caso queira trazer todas as colunas, basta colocar o show() apos o filter_

In [61]:
df_pyspark.select("age", "Experience").filter("Name == 'Paul'").show()

+---+----------+
|age|Experience|
+---+----------+
| 24|         3|
+---+----------+

In [62]:
df_pyspark.filter("Name == 'Sunny'").select("age", "Experience", "Salary").show()

+---+----------+------+
|age|Experience|Salary|
+---+----------+------+
| 29|         4| 20000|
+---+----------+------+

In [6]:
df_pyspark.filter('Salary >= 20000').show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
+---------+---+----------+------+

> _withColumn funciona para adicionar novas colunas dentro do DataFrame, também é importante salientar a possibilidade de colocar clausulas boleanas para condicionar o valor atraves da clausula when da classe Functions_

> _withColumnRenamed se passa o valor antigo e o novo para uma coluna no dataframe_

In [63]:
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2).withColumn('Salary_bonus', df_pyspark['Salary']*.20)
df_pyspark.show()

+---------+---+----------+------+-----------------------+------------+
|     Name|age|Experience|Salary|Experience After 2 year|Salary_bonus|
+---------+---+----------+------+-----------------------+------------+
|    Krish| 31|        10| 30000|                     12|      6000.0|
|Sudhanshu| 30|         8| 25000|                     10|      5000.0|
|    Sunny| 29|         4| 20000|                      6|      4000.0|
|     Paul| 24|         3| 20000|                      5|      4000.0|
|   Harsha| 21|         1| 15000|                      3|      3000.0|
|  Shubham| 23|         2| 18000|                      4|      3600.0|
+---------+---+----------+------+-----------------------+------------+

In [64]:
df_pyspark = df_pyspark.withColumnRenamed('age', 'Age')
df_pyspark.show()

+---------+---+----------+------+-----------------------+------------+
|     Name|Age|Experience|Salary|Experience After 2 year|Salary_bonus|
+---------+---+----------+------+-----------------------+------------+
|    Krish| 31|        10| 30000|                     12|      6000.0|
|Sudhanshu| 30|         8| 25000|                     10|      5000.0|
|    Sunny| 29|         4| 20000|                      6|      4000.0|
|     Paul| 24|         3| 20000|                      5|      4000.0|
|   Harsha| 21|         1| 15000|                      3|      3000.0|
|  Shubham| 23|         2| 18000|                      4|      3600.0|
+---------+---+----------+------+-----------------------+------------+

In [66]:
#remover coluna com o metodo drop(str ou [] com a/as coluna/s)
df_pyspark = df_pyspark.drop("Experience After 2 year")
df_pyspark.show()

+---------+---+----------+------+------------+
|     Name|Age|Experience|Salary|Salary_bonus|
+---------+---+----------+------+------------+
|    Krish| 31|        10| 30000|      6000.0|
|Sudhanshu| 30|         8| 25000|      5000.0|
|    Sunny| 29|         4| 20000|      4000.0|
|     Paul| 24|         3| 20000|      4000.0|
|   Harsha| 21|         1| 15000|      3000.0|
|  Shubham| 23|         2| 18000|      3600.0|
+---------+---+----------+------+------------+