In [178]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

In [179]:
sales = pd.read_csv('Data/sales_data.csv', parse_dates=['Date'])

sales.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

In [180]:
sales.shape
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113036 non-null  datetime64[ns]
 1   Day               113036 non-null  int64
 2   Month             113036 non-null  object
 3   Year              113036 non-null  int64
 4   Customer_Age      113036 non-null  int64
 5   Age_Group         113036 non-null  object
 6   Customer_Gender   113036 non-null  object
 7   Country           113036 non-null  object
 8   State             113036 non-null  object
 9   Product_Category  113036 non-null  object
 10  Sub_Category      113036 non-null  object
 11  Product           113036 non-null  object
 12  Order_Quantity    113036 non-null  int64
 13  Unit_Cost         113036 non-null  int64
 14  Unit_Price        113036 non-null  int64
 15  Profit            113036 non-null  int64
 16  Cost              113036 non-null  int64
 17  Revenue           113036 non-null  int64
dtypes: datetime64[ns](1), int64(9), object(8)
memory usage: 15.5+ MB

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

In [181]:
#Analise descritiva do conjunto de dados
sales.describe()

,Day,Year,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
count,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000
mean,15.665753,2014.401739,35.919212,11.901660,267.296366,452.938427,285.051665,469.318695,754.370360
std,8.781567,1.272510,11.021936,9.561857,549.835483,922.071219,453.887443,884.866118,1309.094674
min,1.000000,2011.000000,17.000000,1.000000,1.000000,2.000000,-30.000000,1.000000,2.000000
25%,8.000000,2013.000000,28.000000,2.000000,2.000000,5.000000,29.000000,28.000000,63.000000
50%,16.000000,2014.000000,35.000000,10.000000,9.000000,24.000000,101.000000,108.000000,223.000000
75%,23.000000,2016.000000,43.000000,20.000000,42.000000,70.000000,358.000000,432.000000,800.000000
max,31.000000,2016.000000,87.000000,32.000000,2171.000000,3578.000000,15096.000000,42978.000000,58074.000000

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Numpy quick overview

In [182]:
#[] cada conjunto de colchetes se lê como as linhas, e cada elemento dentro do conjumento se le como colunas por elemento
# aqui se lê um array de 3 Linhas e 4 Colunas
#Obs a quantidade de elementos dentro dos conjuntos deve ser a mesma, caso não seja, deve-se especificar o tipo Object em dtype
mx_A = np.array([[1,2,3,10], [4,5,6,11], [7,8,9,10]], dtype=np.int8)

#Nao da erro por deixar explicito o tipo Object, mas não sei exatamente o impacto e usuabilidade disso.
mx_object = np.array([[1,2], [4,5,6,11], [7,8,9]], dtype=object)

mx_A.size

#Linha,Coluna nesse caso pode-se fazer também o slicing -> Maneira mais eficaz, mas também funciona do jeito raiz A[Linha][Coluna]
print("Slicing: ", mx_A[1:3, :])

print("Raiz: ", mx_A[0][1:3])

Slicing:  [[ 4  5  6 11]
 [ 7  8  9 10]]
Raiz:  [2 3]

In [183]:
#Para cubos aninhados a leitura é parecida, porém cada Linha representa o grupo maior de colchetes
#Cada conjunto de colchetes interno se lê como a dimensão interna dentro da linha
#Cada elemento dentro do conjunto interno é o total de colunas, nesse caso temos um cubo de 3 Linhas, 2 Dimensões e 4 Colunas

mx_B = np.array([
    [
        [10,20,30,39],
        [10,20,30,39],
    ],
    [
        [60,70,80,89],
        [10,20,30,39],
    ],
    [
        [1,2,3,4],
        [10,20,30,39],
    ]

])

In [184]:
mx_A.dtype

dtype('int8')

In [185]:
mx_A.dtype = np.int8
mx_A.dtype

dtype('int8')

In [186]:
print("Dimensions of the Matrix A: ", mx_A.ndim)
print("Dimensions of the Matrix B: ", mx_B.ndim)

Dimensions of the Matrix A:  2
Dimensions of the Matrix B:  3

In [187]:
print("Shape of the matrix A: ", mx_A.shape)
print("Size of the matrix A", mx_A.size)

print("Shape of the matrix B: ", mx_B.shape)
print("Size of the matrix B", mx_B.size)

Shape of the matrix A:  (3, 4)
Size of the matrix A 12
Shape of the matrix B:  (3, 2, 4)
Size of the matrix B 24

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

> **Numpy oferece funcoes matematicas nativas, que podem ser usadas tanto para o conjunto inteiro ou exclusivamente para Linhas (axis=1) ou Colunas (axis=0)**

In [188]:
#mx_A = np.array([
#   [1,2,3,10],
#   [4,5,6,11],
#   [7,8,9,10]], dtype=np.int8)
#   Soma de todos os elementos das colunas 
mx_A.sum(axis=0)

array([12, 15, 18, 31])

In [189]:
#mx_A = np.array([
#   [1,2,3,10],
#   [4,5,6,11],
#   [7,8,9,10]], dtype=np.int8)
#   Soma de todos os elementos das Linhas
mx_A.sum(axis=1)

array([16, 26, 34])

In [190]:
#Como o multidimensional, usamos o axis=2 para calcular esse eixo
'''
mx_B = np.array([
    [
        [10,20,30,39],
        [10,20,30,39],
    ],
    [
        [60,70,80,89],
        [10,20,30,39],
    ],
    [
        [1,2,3,4],
        [10,20,30,39],
    ]

])
Axis=0 ele calcula primeiro os valores das primeiras linhas de cada conjunto ex: 10+60+1 | 20+70+2 | ...
em seguida ele faz os calculos dos valores da dimensao interna 10+10+10 | 20+20+20 |...

Axis=1 ele calcula os valores das linhas e suas dimensoes 60+10 | 70+20 | 80+30 |...
'''
mx_B.sum(axis=1)

array([[ 20,  40,  60,  78],
       [ 70,  90, 110, 128],
       [ 11,  22,  33,  43]])

In [191]:
mx_result_1 = [(mx_B > 60) & (mx_B < 90)]
print(mx_result_1)

mx_result_2 = mx_B >20
print(mx_result_2)

[array([[[False, False, False, False],
        [False, False, False, False]],

       [[False,  True,  True,  True],
        [False, False, False, False]],

       [[False, False, False, False],
        [False, False, False, False]]])]
[[[False False  True  True]
  [False False  True  True]]

 [[ True  True  True  True]
  [False False  True  True]]

 [[False False False False]
  [False False  True  True]]]

> **Baixar os notebooks dos exercicios no Fork que eu fiz no meu GitHub para praticar mais essa lib**
 
![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Pandas Series

In [192]:
g7_pop = pd.Series([35.467, 63.951, 80.940, 60.655, 127.061, 64.511, 318.523])

g7_pop.name = "G7 population in millions"

g7_pop

0     35.467
1     63.951
2     80.940
3     60.655
4    127.061
5     64.511
6    318.523
Name: G7 population in millions, dtype: float64

In [193]:
#Implicitamente Pandas.Series criam um array de numpy para manipular os valores, o bacana é que se pode dar nome para a Serie.
#Uma vez criado as series nao da pra alterar mais os index da Series, mas é possível se atribuir os nomes para cada um dos indices

print(type(g7_pop.values))
g7_pop.index

<class 'numpy.ndarray'>

RangeIndex(start=0, stop=7, step=1)

In [194]:
g7_pop.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.655
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 population in millions, dtype: float64

In [195]:
g7_pop['France' : 'United Kingdom']

France             63.951
Germany            80.940
Italy              60.655
Japan             127.061
United Kingdom     64.511
Name: G7 population in millions, dtype: float64

In [196]:
g7_pop['United States']

318.523

In [197]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [198]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [199]:
df.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [200]:
df.iloc[:][['Population', 'GDP', 'Continent']].sort_values(by='GDP', ascending=False)

                Population       GDP Continent
United States      318.523  17348075   America
Japan              127.061   4602367      Asia
Germany             80.940   3874437    Europe
United Kingdom      64.511   2950039    Europe
France              63.951   2833687    Europe
Italy               60.665   2167744    Europe
Canada              35.467   1785387   America

In [201]:
df.iloc[-1][['Continent', 'Population']]

Continent     America
Population    318.523
Name: United States, dtype: object

In [202]:
df.loc[df['Continent'] != 'Europe']

               Population       GDP  Surface Area    HDI Continent
Canada             35.467   1785387       9984670  0.913   America
Japan             127.061   4602367        377930  0.891      Asia
United States     318.523  17348075       9525067  0.915   America

In [203]:
df.loc[(df['Continent'] == 'Europe') & (df['Population'] < 70.000), ['Population', 'GDP', 'Surface Area']]

                Population      GDP  Surface Area
France              63.951  2833687        640679
Italy               60.665  2167744        301336
United Kingdom      64.511  2950039        242495

In [204]:
df.iloc[:].sort_values(ascending=False, by='Surface Area')

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
United States      318.523  17348075       9525067  0.915   America
France              63.951   2833687        640679  0.888    Europe
Japan              127.061   4602367        377930  0.891      Asia
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
United Kingdom      64.511   2950039        242495  0.907    Europe

In [205]:
df.sort_values(ascending=False, by='HDI')

                Population       GDP  Surface Area    HDI Continent
Germany             80.940   3874437        357114  0.916    Europe
United States      318.523  17348075       9525067  0.915   America
Canada              35.467   1785387       9984670  0.913   America
United Kingdom      64.511   2950039        242495  0.907    Europe
Japan              127.061   4602367        377930  0.891      Asia
France              63.951   2833687        640679  0.888    Europe
Italy               60.665   2167744        301336  0.873    Europe

In [206]:
#iLoc pega do elemento index do 1 ao 4, e as colunas 0,2,3
df.iloc[1:4, [0,2,3]]

         Population  Surface Area    HDI
France       63.951        640679  0.888
Germany      80.940        357114  0.916
Italy        60.665        301336  0.873

In [207]:
df.loc[lambda df: df['GDP'] >3000000]

               Population       GDP  Surface Area    HDI Continent
Germany            80.940   3874437        357114  0.916    Europe
Japan             127.061   4602367        377930  0.891      Asia
United States     318.523  17348075       9525067  0.915   America

In [208]:
df.loc[lambda df: df['HDI'] >0.90]

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
Germany             80.940   3874437        357114  0.916    Europe
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [209]:
df.loc[(lambda df: df['Surface Area'] > 300000)].sort_values(by='GDP')

               Population       GDP  Surface Area    HDI Continent
Canada             35.467   1785387       9984670  0.913   America
Italy              60.665   2167744        301336  0.873    Europe
France             63.951   2833687        640679  0.888    Europe
Germany            80.940   3874437        357114  0.916    Europe
Japan             127.061   4602367        377930  0.891      Asia
United States     318.523  17348075       9525067  0.915   America

### Operacao Matematica com colunas do DF

In [210]:
#Operacoes matematicas entre colunas, pode ser realizado com as funcoes proprias do pandas (sum, sub, div, multiply. etc) pesquisar mais sobre elas
df['Per Capta'] = df['GDP'].div(df['Population'])

In [211]:
df['Per Capta'].astype('float32')

Canada            50339.386719
France            44310.285156
Germany           47868.011719
Italy             35733.027344
Japan             36221.710938
United Kingdom    45729.238281
United States     54464.121094
Name: Per Capta, dtype: float32

In [212]:
df['GDP'].multiply(2)

Canada             3570774
France             5667374
Germany            7748874
Italy              4335488
Japan              9204734
United Kingdom     5900078
United States     34696150
Name: GDP, dtype: int64

### Condicionamento de Index através das Colunas

In [213]:
df.loc[(df['GDP'].div(df['Population']) > 50000.00 )]

,Population,GDP,Surface Area,HDI,Continent,Per Capta
Canada,35.467,1785387,9984670,0.913,America,50339.385908
United States,318.523,17348075,9525067,0.915,America,54464.120330

In [214]:
df.groupby(by=['Continent']).agg('sum')

           Population       GDP  Surface Area    HDI      Per Capta
Continent
America       353.990  19133462      19509737  1.828  104803.506238
Asia          127.061   4602367        377930  0.891   36221.712406
Europe        270.067  11825907       1541624  3.584  173640.563387

In [215]:
# aqui e o exemplo de matrix boleana, aonde dentro de uma condicao para a coluna, traz se eh verdadeiro e falso pelos indices, o que eh retornado e uma Series
df['Population'] > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: Population, dtype: bool

In [216]:
#Aqui é o exemplo de como o resultado da condicao boleana, se apresenta quando utilizado o loc,
#  pois o loc processa os valores dos indices verdadeiro para todas as colunas, da pra ver que como acima somente veio os valores para 
# Alemanha, Japão e USA 
# O resultado é computado sem problemas, pois a Series gerada internamente eh originaria do DataFrame, então mesmo sendo objetos diferentes
# Os valores dos indices sao os mesmos 
df.loc[df['Population'] > 70]

,Population,GDP,Surface Area,HDI,Continent,Per Capta
Germany,80.940,3874437,357114,0.916,Europe,47868.013343
Japan,127.061,4602367,377930,0.891,Asia,36221.712406
United States,318.523,17348075,9525067,0.915,America,54464.120330

In [217]:
#Mesmo que acima, so inseri uma condicional a mais
df.loc[(df['Population'] > 70) & (df['HDI'] > 0.9)]

,Population,GDP,Surface Area,HDI,Continent,Per Capta
Germany,80.940,3874437,357114,0.916,Europe,47868.013343
United States,318.523,17348075,9525067,0.915,America,54464.120330

In [218]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent', 'Per Capta'], dtype='object')

### Verificar colunas no DF

In [219]:
#To check all columns on the dataframe matches the given list

list_cols = ['Population', 'GDP', 'HDI', 'Continent', 'Per Capta', 'Surface Area']

if all([col in df.columns for col in list_cols]):
    print('Everythin OK')
else:
    print('Missing columns', list_cols, df.columns)

Everythin OK

In [288]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'Human Development Idx', 'Region',
       'Per Capta', 'Language'],
      dtype='object')

In [291]:
if list_cols[1] in df.columns:
    print(f'Coluna: {list_cols[1]} existente no DataFrame')
else:
    print('Colunas mandatorias ausentes')

Coluna: GDP existente no DataFrame

In [220]:
#Pode-se fazer drop de Indice, ou colunas, no exemplo abaixo so a coluna se quiser mais colunas, deve=se colocar em lista['colA', 'colB', '...']
df.drop(columns='Per Capta')

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

### Operacoes com Series

> ### Aqui o esquema, é que podemos definir valores fixados, como por exemplo tarifas, ou taxas de juros, e dizer em quais indices ela vai ser aplicada, assim qdo o agrupamento ou operacao matematica do DF com a Series, os valores serao atualizados, pois os Indices batem

In [222]:
#Aqui quero dizer que quando ocorrer uma crise, o GDP dos Paises (index) vão sofrer uma perda de 1Mi, enquanto o HDI vai perder 0.3
crisis = pd.Series([-1_000_000, -0.3], index=['GDP', 'HDI'])
crisis

GDP   -1000000.0
HDI         -0.3
dtype: float64

In [223]:
df[['GDP', 'HDI']]

                     GDP    HDI
Canada           1785387  0.913
France           2833687  0.888
Germany          3874437  0.916
Italy            2167744  0.873
Japan            4602367  0.891
United Kingdom   2950039  0.907
United States   17348075  0.915

In [224]:
df[['GDP', 'HDI']] + crisis

                       GDP    HDI
Canada            785387.0  0.613
France           1833687.0  0.588
Germany          2874437.0  0.616
Italy            1167744.0  0.573
Japan            3602367.0  0.591
United Kingdom   1950039.0  0.607
United States   16348075.0  0.615

### Alterando o DataFrame com novas colunas

In [226]:
langs = pd.Series(data=['French', 'German', 'Italian'], index=['France', 'Germany', 'Italy'], name='Language')

In [228]:
df['Language'] = langs
df

,Population,GDP,Surface Area,HDI,Continent,Per Capta,Language
Canada,35.467,1785387,9984670,0.913,America,50339.385908,NaN
France,63.951,2833687,640679,0.888,Europe,44310.284437,French
Germany,80.940,3874437,357114,0.916,Europe,47868.013343,German
Italy,60.665,2167744,301336,0.873,Europe,35733.025633,Italian
Japan,127.061,4602367,377930,0.891,Asia,36221.712406,NaN
United Kingdom,64.511,2950039,242495,0.907,Europe,45729.239975,NaN
United States,318.523,17348075,9525067,0.915,America,54464.120330,NaN

In [234]:
# Um dataframe só é modificado diretamente no seu objeto quando utilizamos o sinal de = para atribuicao de valores
# Quaisquer outras operacoes, o retorno é sempre um Dataframe ou Series com o valor alterado, se quisermos mantermos as alteracoes
# No DF de origem, devemos utilizar o parametro inplace como valor True.  
df.rename(
    columns={
        'HDI' : 'Human Development Idx',
        'Anual Popcorn Consumption' : 'APAC',
        'Continent' : 'Region'
    },
    index={
        'United States' : 'USA',
        'United Kingdom' : 'UK',
        'Argentina' : 'ARG',
        'Brazil' : 'BRA'
    }, inplace=True
)

In [272]:
#Exemplo de como uma atribuição altera todo o valor do DataFrame e nao uma nova Copia
langs2 = pd.Series(
    data=[
        'English and French',
        'French',
        'German',
        'Italian',
        'Japanese',
        'English',
        'English'
    ],
    index=[
        'Canada',
        'France',
        'Germany',
        'Italy',
        'Japan',
        'USA',
        'UK'
    ],
    name='Lang_by_country'
)

In [273]:
df['Language']

Canada     English and French
France                 French
Germany                German
Italy                 Italian
Japan                     NaN
UK                    English
USA                   English
Name: Language, dtype: object

In [274]:
langs2

Canada     English and French
France                 French
Germany                German
Italy                 Italian
Japan                Japanese
USA                   English
UK                    English
Name: Lang_by_country, dtype: object

In [275]:
df['Language'] = langs2

In [281]:
df[['Language', 'Population']]

                   Language  Population
Canada   English and French      35.467
France               French      63.951
Germany              German      80.940
Italy               Italian      60.665
Japan              Japanese     127.061
UK                  English      64.511
USA                 English     318.523